/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFAULT */
img {
    width: 80px;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* DARKBACKGROUND BECAUSE LIGHT HURTS MY EYES */
body {
    background-color: rgb(107, 107, 107);
    font-family: 'Fredoka One', cursive;
}

/* MAIN TITLE */
h1 {
    color: rgb(226, 43, 202);
    text-align: center;
    margin: 30px 0;
}


/* STRUCTURE OF SUBTITLE */
.subtitle {
    font-size: 1rem;
    padding-top: 30px;
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
}

/* .container{
    padding-top: 30px;
    color: white;
} */

.row {
    border: 1px solid red;
    height: 80px;
    width: 1000px;
    margin: auto;

}

.col {
    width: calc(100% / 3 );
    float: left;
    text-align: center;
    

}
.middle{
    margin: 0 auto;
}
.third{
    padding-right: 0;
    margin-right: 0;
}

.email{
    color: rgb(72, 82, 221);
}

.skill{
    color: white;
    float: left;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    background-color: black;
}

h3, h4, h5 {
    padding: 3px 0;
}