/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFAULT */
img {
    width: 80px;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* DARKBACKGROUND BECAUSE LIGHT HURTS MY EYES */
body {
    background-color: rgb(107, 107, 107);
    font-family: 'Fredoka One', cursive;
}

/* MAIN TITLE */
h1 {
    color: rgb(226, 43, 202);
    text-align: center;
    margin: 30px 0;
}


/* STRUCTURE OF SUBTITLE */
.subtitle {
    font-size: 1rem;
    padding-top: 30px;
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
}


/* STRUCTURE OF FIRST ROW */
.row {
    /* border: 1px solid red; */
    height: 80px;
    width: 1040px;
    margin: 50px auto;

}


/* STRUCTURE OF COLUMN OF FIRST ROW */
.col {
    width: calc(100% / 3 );
    float: left;
    text-align: center;
    padding: 0 20px 0 20px;

}

/* EMAIL TEXT */
.email{
    color: rgb(72, 82, 221);
}

/* MAIN INFO OF WORKERS */
.skill{
    width: calc(100% - 80px);
    color: white;
    float: left;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    background-color: rgb(17, 16, 16);
    text-align: left;
}

h3{
    padding: 10px 0 0;
    font-size: 80%;
}

h4{
    padding: 5px 0 5px 0;
    font-size: 70%;
}

h5{
    padding: 3x 0 3px 0;
    font-size: 60%;
}